@model dynamic
@{
    ViewBag.Title = "Index";
}
<div class="container-fluid" style="margin-left:25px">
    <div class="row">
        <h2>Orden de Pago</h2>
    </div>
    <div class="navbar-right navbar-fixed-top marginFloat" align="right">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary"><i class="material-icons">local_printshop</i></button>
            <button type="button" class="btn btn-primary" id="firtsPage"><i class="material-icons">first_page</i></button>
            <button type="button" class="btn btn-primary" id="backPage"><i class="material-icons">navigate_before</i></button>
            <button type="button" class="btn btn-primary" id="newPage"><i class="material-icons">add</i></button>
            <button type="button" class="btn btn-primary" id="nextPage"><i class="material-icons">navigate_next</i></button>
            <button type="button" class="btn btn-primary" id="lastPage"><i class="material-icons">last_page</i></button>
            <button type="button" class="btn btn-primary" id="guardar"><i class="material-icons">save</i></button>
            <button type="button" class="btn btn-primary" id="aprobar"><i class="material-icons">check</i></button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="material-icons">dehaze</i><span class="caret"></span></button>
            <div class="dropdown-menu">
                <li><a id="tercero" href="#">Por Tercero</a></li>
                <li role="separator" class="divider"></li>
                <li><a id="total" href="#">Total</a></li>
            </div>
        </div>
    </div>
    <form id="FromData" method="post">
        <div class="row">
            <!--Controles principales-->
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="tipoDocumento">Tipo Documento</label>
                            <select class="form-control" id="tipoDocumento" name="TipoDocumento">
                                @foreach (string item in Model.ordenPago.TipoDocumento)
                                {
                                    <option value="@Html.DisplayFor(moelitem=> item)">@Html.DisplayFor(moelitem => item)</option>
                                }
                            </select>
                            <!--<input class="form-control" type="text" id="tipoDocumento" name="tipoDocumento" value="" />-->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="proximoNumeroDisponible">Próximo numero disponible</label>
                            <input class="form-control" type="text" id="proximoNumeroDisponible" name="ProximoNumeroDisponible" value="@Model.ordenPago.ProximoNumeroDisponible" disabled />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="fecha">Fecha</label>
                            <input class="form-control" type="date" id="fecha" name="Fecha" value="@Convert.ToDateTime(Model.ordenPago.Fecha).ToString("yyyy-MM-dd")" />
                            <div id="validatefecha" class="invalid-feedback">Campo requerido.</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="detalle">Detalle</label>
                            <input class="form-control" type="text" id="detalle" name="Detalle" value="@Model.ordenPago.Detalle" />
                            <div id="validatedetalle" class="invalid-feedback">Campo requerido.</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Fin controles Pricipales-->
            <!--Inicio Resumen Orden de Pago-->
            <div class="offset-md-1  col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Resumen Orden de Pago</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label" for="documentosVencidos">Documentos Vencidos</label>
                            <label class="control-label" id="documentosVencidos">0</label>
                            <!--<input class="form-control" type="text" id="documentosVencidos" name="documentosVencidos" value="" />-->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label" for="documentosPorVencer">Documentos Por Vencer</label>
                            <label class="control-label" id="documentosPorVencer">0</label>
                            <!--<input class="form-control" type="text" id="documentosPorVencer" name="documentosPorVencer" value="" />-->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label" for="totalOrdenDePago">Total Orden de Pago</label>
                            <label class="control-label" id="totalOrdenDePago">0</label>
                        </div>
                    </div>
                </div>
            </div>
            <!--Fin Resumen Orden de Pago-->
        </div>
        <br />
        <div class="row">
            <!--inicio Filtros de busqueda-->
            <div class="card col-md-12">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Filtros Datos Origen</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label" for="vencimientosHasta">Vencimientos Hasta</label>
                                <input class="form-control" type="date" id="vencimientosHasta" name="vencimientosHasta" value="" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label" for="sucursal">Sucursal</label>
                                <!--<input class="form-control" type="text" id="sucursal" name="sucursal" value="" />-->
                                <select class="form-control select-custom-multiple" id="sucursal" name="sucursal[]" multiple="multiple">
                                    @foreach (string item in Model.sucursalesFilter)
                                    {
                                        <option value="@Html.DisplayFor(moelitem=> item)">@Html.DisplayFor(moelitem => item)</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label" for="comprobante">Comprobante</label>
                                <input class="form-control" type="text" id="comprobante" name="comprobante" value="" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label" for="cuentaContable">Cuenta Contable</label>
                                <input class="form-control" type="text" id="cuentaContable" name="cuentaContable" value="" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label" for="tecero">Tercero</label>
                                <input class="form-control" type="text" id="tercero" name="tercero" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <button id="searchFilter" class="btn btn-info">Buscar</button>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <button id="limpiarConsulta" class="btn btn-warning">Limpiar Consulta</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Fin Filtros de busqueda-->
        </div>
        <!--Inicio Cuentas por pagar-->
        <br />
        <div class="row">
            <div class="col-md-12">
                <h4>Detalle Cuentas por Pagar</h4>
            </div>
        </div>
        <div class="row">
            <table class="table" id="tableCuentasPagar">
                <thead>
                    <tr>
                        <th></th>
                        <th>Identificador</th>
                        <th>Sucursal</th>
                        <th>Identificación</th>
                        <th>Nombre</th>
                        <th>Cuenta Contable</th>
                        <th>Documento</th>
                        <th>N° Cuota</th>
                        <th>Fecha Vencimiento</th>
                        <th>Comprobante</th>
                        <th>Saldo Documento</th>
                        <th>Id</th>
                        <th>ValorPagar</th>
                        <th>IdSucursal</th>
                    </tr>
                </thead>
                <tbody id="cuentaPagarFirst">
                    @for (int i = 0; i < Model.ordenPago.ListCuentaPorPagar.Count; i++)
                    {
                        <tr>
                            <td id="@Html.DisplayFor(modelitem =>i)cuentaPorPagar" class="cuentaPorPagar"></td>
                            <td id="@Convert.ToString(i+1)identificador">@Convert.ToString(i + 1)</td>
                            <td id="@Html.DisplayFor(modelitem =>i)Sucursal">@Model.ordenPago.ListCuentaPorPagar[i].Sucursal</td>
                            <td id="@Html.DisplayFor(modelitem =>i)Identificacion">@Model.ordenPago.ListCuentaPorPagar[i].Identificacion</td>
                            <td id="@Html.DisplayFor(modelitem =>i)Nombre">@Model.ordenPago.ListCuentaPorPagar[i].Nombre</td>
                            <td id="@Html.DisplayFor(modelitem =>i)CuentaContable">@Model.ordenPago.ListCuentaPorPagar[i].CuentaContable</td>
                            <td id="@Html.DisplayFor(modelitem =>i)Documento">@Model.ordenPago.ListCuentaPorPagar[i].Documento</td>
                            <td id="@Html.DisplayFor(modelitem =>i)NumeroCuenta">@Model.ordenPago.ListCuentaPorPagar[i].NumeroCuenta</td>
                            <td id="@Html.DisplayFor(modelitem =>i)FechaVencimiento">@Convert.ToDateTime(Model.ordenPago.ListCuentaPorPagar[i].FechaVencimiento).ToString("yyyy-MM-dd")</td>
                            <td id="@Html.DisplayFor(modelitem =>i)Comprobante">@Model.ordenPago.ListCuentaPorPagar[i].Comprobante</td>
                            <td id="@Html.DisplayFor(modelitem =>i)SaldoDocumento">@Model.ordenPago.ListCuentaPorPagar[i].SaldoDocumento</td>
                            <td id="@Html.DisplayFor(modelitem =>i)Id">@Model.ordenPago.ListCuentaPorPagar[i].Id</td>
                            <td id="@Html.DisplayFor(modelitem =>i)Id">@Model.ordenPago.ListCuentaPorPagar[i].ValorPagar</td>
                            <td id="@Html.DisplayFor(modelitem =>i)Id">@Model.ordenPago.ListCuentaPorPagar[i].IdSucursal</td>
                        </tr>
                    }
                </tbody>
                <tfoot id="footerCuenta">
                    <tr>
                        <th colspan="2" style="text-align:right">Total Saldo de Documento:</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div id="validatedeExist" class="alert alert-warning" role="alert">
                    This is a danger alert—check it out!
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <button id="agregar" class="btn btn-success">Agregar</button>
                </div>
            </div>
        </div>

        <!--Fin Cuentas por pagar-->
        <br />
        <!--Inicio Cuentas por pagar seleccionadas-->
        <div class="row">
            <div class="col-md-12">
                <h4>Detalle Cuentas por Pagar Seleccionada</h4>
            </div>
        </div>
        <div class="row">
            <table id="tableSelected" class="table">
                <tfoot>
                    <tr>
                        <th colspan="3" style="text-align:right">Total Saldo de Documento:</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <br />
        <div class="row">
            <div class="col-md-1">
                <div class="form-group">
                    <button id="quitarSecondSelecction" class="btn btn-warning">Quitar</button>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-8">
                <div id="validatedeselected" class="alert alert-danger" role="alert">
                    This is a danger alert—check it out!
                </div>
                <input type="hidden" id="jsonvalue" name="ListCuentaPorPagar" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <button id="guardarb" class="btn btn-info">Guardar</button>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <button id="aprobarb" class="btn btn-success">Aprobar</button>
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                    Generar Orden de Pago
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" id="tercerob" href="#">Por Tercero</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" id="totalb" href="#">Total</a>
                </div>
            </div>
        </div>
    </form>
</div>