<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @*<script src="@Url.Content("~/Scripts/jquery-3.4.1.min.js")" type="text/javascript"></script>

        @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Report }
        )

        @Styles.Render("~/Content/DevExtremeBundle")

        @Html.DevExpress().GetScripts(
            new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new Script { ExtensionSuite = ExtensionSuite.Editors },
            new Script { ExtensionSuite = ExtensionSuite.Report }
        )
        @Scripts.Render("~/Scripts/DevExtremeBundle")
        @Styles.Render("~/assets/css")*@

    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="~/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="~/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="~/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/build/css/custom.min.css" rel="stylesheet">

    @Styles.Render("~/Content/bundle")
    @Styles.Render("~/Content/DevExtremeBundle")
    @Scripts.Render("~/Scripts/bundle")
    @Scripts.Render("~/Scripts/DevExtremeBundle")

</head>
<body style="background-color:white;">
    <div class="container body">
        <div class="main_container">

            <div class="row">
                @RenderBody()
            </div>

        </div>
    </div>
    <script src="../vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
    <!-- Bootstrap -->
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <!-- <script src="~/vendors/Chart.js/dist/Chart.min.js"></script> -->
    <!-- gauge.js -->
    <script src="~/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="~/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="~/vendors/Flot/jquery.flot.js"></script>
    <!-- <script src="~/vendors/Flot/jquery.flot.pie.js"></script> -->
    <script src="~/vendors/Flot/jquery.flot.time.js"></script>
    <!-- <script src="~/vendors/Flot/jquery.flot.stack.js"></script> -->
    <!-- <script src="~/vendors/Flot/jquery.flot.resize.js"></script> -->
    <!-- Flot plugins -->
    <!-- <script src="~/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script> -->
    <script src="~/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <!-- <script src="~/vendors/flot.curvedlines/curvedLines.js"></script> -->
    <!-- DateJS -->
    <script src="~/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="~/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/vendors/moment/min/moment.min.js"></script>
    <script src="~/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/build/js/custom.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
